.s-principal{
    width: 100%;
    height: 78.6rem;
    background: url(../imgs/bg-hero.svg) no-repeat center center;
    padding-top: 17.5rem;
    .container{
        @include flex(flex-start,space-between,row);
        .bloco-titulo{
            max-width: 68.3rem;
            .titulo{
                h3{
                    color: #FFFFFF;
                    opacity: .8;
                    margin-bottom: 3.2rem;
                    font-weight: 600;
                    line-height: 120%;
                }
                h1{
                    color: #FFFFFF;
                    margin-bottom: 3.9rem;
                }
            }

            button{
                margin-bottom: 6.4rem;
            }

            ul{
                display: flex;
                justify-content:space-between;
                max-width: 62.1rem;
                
                li{
                    display: flex;
                    align-items:center;
                    .icon{
                        @include flex(center,center,row);
                        background-color:rgba(53, 202, 226, 0.4);
                        border-radius: 50%;
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                    span{
                        max-width: 12.7rem;
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        color: #FFFFFF;
                        margin-left: 1.2rem;
                    }
                }
            }

        }
        .bloco-imagem{
            width: 100%;
            max-width: 70.6rem;
            margin-right: -17.3rem;
            h2{
                text-align: center;
                margin-bottom: 6.7rem;
                font-weight: 600;
                font-size: 5.6rem;
                line-height: 8.4rem;
                letter-spacing: -2px;
                color: #FFFFFF;
                opacity: 0.4;
            }
            .imagem{
                position: relative;
                width: 100%;
                height: 54.2rem;
                img{
                    position: absolute;
                }
                .circle{
                    right: 4.3rem;
                    max-width: 55.3rem;
                }
                .back{
                    bottom: 4.6rem;
                    left: 8.6rem;
                    max-width: 35.2rem;
                }
                .front{
                    top: 4.1rem;
                    max-width: 43.5rem;
                }
            }
        }
        @include responsive(1440px){
            .bloco-imagem{
                margin-right: -12.3rem
            }
        }
        @include responsive(1366px){
            .bloco-imagem{
                margin-right: -9rem;
                .imagem{
                    .back{
                        right: 2rem;
                    }
                }
            }
        }
        
    }
    @include responsive(1150px){
        height: 70rem;
        padding-top: 13.5rem;
        .container{
            .bloco-titulo{
                ul{
                    margin-top: 1rem;
                }
            }
            .bloco-imagem{
                margin-right: -5rem;
                h2{
                    font-size: 4.6rem;
                }
                .imagem{
                    .circle{
                        width: 45rem;
                        left: 2.3rem;
                    }
                    .front{
                        top: 3.1rem;
                        left: -4rem;
                        width: 36.3rem;
                    }
                    .back{
                        width: 31.1rem;
                        left: 14rem;
                        bottom: 10rem;
                    }
                }
            }
        }
    }

    @include responsive(991px){
        height: 89.1rem;
        background-size: cover;
        .container{
            @include flex(center,center,column);
            text-align: center;
            .bloco-titulo{
                .titulo{
                    h3{
                        margin-bottom: 2.4rem;
                        font-size: 1.8rem;
                    }
                    h1{
                        margin-bottom: 2.6rem;
                    }
                }
                button{
                    margin-bottom: 2.4rem;
                }
                ul{
                    
                    li{
                        span{
                            font-size: 1.6rem;
                            margin-left: 0;
                        }
                    }
                }
            }
            .bloco-imagem{
                
                h2{
                    font-size: 4rem;
                    margin-top: 5rem;
                    margin-bottom: 1.9rem;
                }
                .imagem{
                    margin: 0 auto;
                    max-width: 51.1rem;
                    .front{
                        max-width: 34rem;
                    }
                    .back{
                        max-width: 27.4rem;
                        top: 13.5rem;
                        left: 16rem;
                    }
                    .circle{
                        max-width: 42.9rem;
                    }
                }
            }
        }
    }
    @include responsive(480px){
        padding-top: 12rem;
        height: 73.9rem;
        .container{
            .bloco-titulo{
                .titulo{
                    h3{
                        font-size: 1.6rem;
                        
                    }
                    h1{
                        font-size: 3.2rem;
                    }
                }
                ul{
                    @include flex(start,center,column);
                    max-width: 26rem;
                    margin: 0 auto;
                    li{
                        .icon{
                            background: none;
                        }
                        span{
                            max-width: 22.5rem;
                        }
                    }
                }
            }
            .bloco-imagem{  
                h2{
                    display: none;
                }
                .imagem{
                    max-width: 31.7rem;
                    max-height: 27.2rem;
                    .circle{
                        max-width: 26.7rem;
                        bottom: 0;
                        left: 0;
                    }
                    .front{
                        max-width: 21.1rem;
                        top: 5rem;
                        left: -2rem;
                    }
                    .back{
                        max-width: 17rem;
                        left: 9rem;
                        top: 12rem;
                    }
                }
            }
        }
    }
}

.s-app{
    .container{
        display: flex;
        
        .app{
            @include flex(start, center, column);
            max-width: 27.7rem;
            .phone-card{
                position: relative;
                width: 100%;
                
                margin-top: 13rem;
                .circle-mockup{
                    position: absolute;
                    top: 8.7rem;
                    left: -21.4rem;
                    max-width: 37.7rem;
                    z-index: -1;
                }
                
            }
            .download{
                @include flex(center, center, column);
                width: 100%;
                margin-top: 2.5rem;
                .download-icon{
                    margin-bottom: 3.1rem;
                    margin-top: 10rem;
                    position: relative;
                    &::before{
                        content: "";
                        background: url(../imgs/points.svg) no-repeat center center;
                        width: 5px;
                        height: 8.3rem;
                        position: absolute;
                        top: -104px;
                        left: 50%;
                        margin-left: -2.5px;
                    }
                }
                .download-info{
                    @include flex(center,center,column);
                    h3{
                        color: $grey-600;

                    }
                    p{
                        text-align: center;
                        color: $grey-400;
                        line-height: 150%;
                        margin-bottom: 2.6rem;
                        opacity: 0.8;
                    }
                    ul{
                        li{
                            &:not(:first-child){
                                margin-top: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
        .app-info{
            margin-left: 14rem;
            margin-top: 16rem;
            .beneficios{
                h2{
                    max-width: 48.8rem;
                    width: 100%;
                }
                a{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    color: $brand-blue;
                    
                }
                ul{
                    margin-bottom: 3.2rem;
                    .card-beneficios{
                        @include flex(center, flex-start,row);
                        width: 100%;
                        max-width: 83.4rem;
                        padding-bottom: 2.9rem;
                        padding-top: 3.8rem;
                        border-bottom: 1px solid $grey-100;
                        .flex-card{
                            @include flex(center,space-between,row);
                            article{
                                width: 63rem;
                                margin-left: 4.3rem;
                                margin-right: 9.6rem;
                                
                                
                                h3{
                                    color: $grey-400;
                                }
                                p{
                                    font-size: 1.8rem;
                                    line-height: 150%;
                                    color: $grey-300;
                                }
                            }
                            button{
                                display: flex;
        
                            }
                        }
                    }
                }
                a{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        right: -18px;
                        bottom: 0;
                        width: 1rem;
                        height: .3rem;
                        background-color: $brand-yellow;
                    }
                }
            }
            .pejota{
                margin-top: 14.4rem;
                width: 100%;
                max-width: 80rem;
                height: 41rem;
                background: url(../imgs/bg-box-card-neon.svg) no-repeat center center;
                @include flex(center,flex-start,row);
                position: relative;
                border-radius: 10px;
                .pj-text{
                    padding-left: 6rem;
                    h2,h3,p{
                        color: #FFFFFF;
                        max-width: 32.7rem;
                    }
                    h2{
                        padding-bottom: 1.1rem;
                    }
                    h3,p{
                        padding-bottom: .8rem;
                    }
                    ul{
                        display: flex;
                        li{
                            &:not(:first-child){
                                padding-left: 1.6rem;
                            }
                        }
                    }
                }
                img{
                    width: 34.2rem;
                    height: 21.9rem;
                    position: absolute;
                    right: -31px;
                }
            }
        }
    }
    @include responsive(1151px){
        
        .container{
            .app{
                .phone-card{
                    margin-left: 4rem;
                    width: 80%;
                    .circle-mockup{
                        top: 5rem;
                        max-width: 35rem;
                    }
                }
                .download{
                    margin-left: 2rem;
                    .download-icon{
                        margin-top: 14rem;   
                    }
                }
            }
            .app-info{
                margin-left: 10rem;
                .beneficios{
                    max-width: 67.3rem;
                }
            }
        }
    }
    @include responsive(991px){
        .container{
            flex-direction: column-reverse;
            .app{
                display: flex;
                flex-direction: row;
                max-width: 57.6rem;
                margin: 0 auto;
                .phone-card{
                    .circle-mockup{
                        display: none;
                    }
                }
                .download{
                    .download-icon{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            .app-info{
                margin-left: 3rem;
                .beneficios{
                    max-width: 67.3rem;
                    margin: 0 5.5rem 0 4rem;
                    h2{
                        text-align: center;
                        max-width: 44rem;
                        margin: 0 auto;
                    }
                    a{
                        display: block;
                        text-align: center;
                        &:after{
                            display: none;
                        }
                    }

                }
                .pejota{
                    max-width: 68.8rem;
                    img{
                        right: -45px;
                    }
                }
            }
        }
    }
    @include responsive(480px){
        .container{
            .app-info{
                
                .beneficios{
                    margin-left: 0;
                    padding: 0;
                    h2{
                        width: 31.6rem;
                        font-size: 2.8rem;
                        margin-left: -1.5rem;
                    }
                    .card-beneficios{
                        max-width: 33.3rem;
                        width: 100%;
                        .flex-card{
                            max-width: 38rem;
                            align-items: flex-start !important;;
                            figure{
                                max-width: 6rem;
                                width: 100%;
                            }
                            .flex-card-info{
                                margin-left: 2.3rem ;
                                h3{
                                    font-size: 2rem;
                                    line-height: 112%;
                                    width: 19.1rem;
                                }
                                p{
                                    padding-top: .5rem;
                                    font-size: 1.4rem !important;
                                }
                            }
                        }
                    }
                }
                .pejota{
                    margin-top: 3.4rem;
                    justify-content:center;
                    align-items:start;
                    width: 33.6rem;
                    left: -2.5rem;
                    .pj-text{
                        margin-top: 4.3rem;
                        text-align: center;
                        padding-left: 0;
                        @include flex(center,center,column);
                        h2{
                            font-size: 2.8rem;
                        }
                        h3{
                            font-size: 2rem;
                            line-height: 120%;
                        }
                        ul{
                            li{
                                padding-top: 2.4rem;
                                button{
                                    width: 12.1rem;
                                    height: 4.4rem;
                                }
                            }
                        }
                    }
                    img{
                        width: 27.7rem;
                        right: 30px;
                        bottom: -8.5rem
                    }
                }
            }
            .app{
                flex-direction: column-reverse;
                .phone-card{
                    img{
                        max-width: 21.8rem;
                    }
                }
                .download{
                    max-width: 27rem;
                }

            }
        }
    }
}

.s-social{
    .container{

        .titulo-depoimentos{
            margin-top: 13.4rem;
            margin-bottom: 4rem;
            .h2-grey200{
                color: $grey-200;
                margin-bottom: 1.4rem;
            }
            .h2-grey600{
                color: $grey-600;
            }
        }

        .swiper{
            width: 120rem;
            height: 25rem;
            .swiper-pagination{
                .swiper-pagination-bullet{
                    background:$brand-yellow;
                    opacity: .3;
                    border-radius: 12px;
                    transition: all .4s;
                    &-active{
                        opacity: 1;
                        width: 17.23px;
                    }
                }
            }
        }
        
    }
    @include responsive(991px){
        .container{
            padding: 0;
            .top{
                .titulo-depoimentos{
                    text-align: center;
                    .h2-grey200{
                        
                        
                    }
                    .h2-grey600{
                        
                    }
                }
            }
            .swiper{
                max-width: 75rem;
                
                .swiper-slide{
                    padding-top: 4rem;
                    .card-depoimento{
                        max-width: 35.8rem;
                        height: 25.3rem;
                    }
                }
                .swiper-pagination{
                    top: 5px;
                    left: -70px;
                    
                }
            }
        }
    } 
    @include responsive(480px){
        .container{
            padding: 0 20px;
            .top{
                .titulo-depoimentos{
                    .h2-grey200{
                        font-size: 2.4rem;
                        margin-bottom: 1.1rem;
                    }
                    .h2-grey600{
                        font-size: 2.8rem;
                    }
                }
            }
            .swiper{
                max-width: 40rem;
                .swiper-slide{
                    
                    .card-depoimento{
                        
                    }
                }
                .swiper-pagination{
                    top: 0px;
                    left: -30px;
                }
            }
        }
    }
    
}

.s-conta-digital{
    .container{
        display: flex;
        .conta-digital-info{
            margin-top: 10.4rem;
            width: 100%;
            max-width: 54.2rem;
            .conta-digital-titulo{
                .h2-grey200{
                    color: $grey-200;
                    font-weight: 600;
                }
                .h2-grey600{
                    color: $grey-600;
                    margin-top: .9rem;
                }
            }
            ul{
                margin-top: 4.5rem;
                li{
                    display: flex;
                    &:not(:last-child){
                        margin-bottom: 4.5rem;
                    }
                    figure{
                        width: 4.5rem;
                        height: 4.5rem;
                        background-color: $brand-green-light;
                        border-radius: 8px;
                        @include flex(center,center,row);
                        margin-right: 2.6rem;
                    }
                    article{
                        h4{
                            margin-bottom: .4rem;
                            color: $grey-400;
                        }
                        p{
                            font-size: 1.8rem;
                            color: $grey-300;
                        }
                    }
                }
            }
            button{
                margin-top: 6rem;
            }
        }
        .conta-digital-image{
            position: relative;
            height: 60rem;
            width: 71.2rem;
            margin-top: 12.7rem;
            margin-left: 11.8rem;
            figure{
                img{
                    position: absolute;
                }
                .circle-conta-digital{
                    right: -15rem;
                    bottom: 0;
                }
                .mockup-1{
                    top: 8.5rem;
                }
                .mockup-2{
                    left: 25.8rem;
                }
                .card-conta-digital{
                    width: 17.5rem;
                    height: 12.2rem;
                    top: 21.5rem;
                    left: 27.5rem;
                }

            }
        }
    }
    @include responsive(1150px){
        .container{
            @include flex(center,center,column);
            .conta-digital-info{
                margin-left: 2rem;
                margin-top: 8rem;
                text-align: center;
                .conta-digital-titulo{
                    text-align: center;
                }
                ul{
                    text-align: left;
                }
                .btn-primary{
                    
                }
            }
            .conta-digital-image{
                margin: 8rem 0;
                .circle-conta-digital{
                    left: 80px;
                }
                .mockup-1{
                    left: 20px;
                }
                .mockup-2{
                    left: 300px !important;
                    top: 0;
                }
                .card-conta-digital{
                    left: 320px !important;
                }
            }
        }
    }
    @include responsive(991px){
        padding-bottom: 7rem;
        .conta-digital-info{
            margin: 1rem auto !important;
            .h2-grey200{
                font-size: 2.4rem;
            }
            .h2-grey600{
                font-size: 2.8rem;
            }
            ul{
                li{
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    
                    article{
                        h4{
                            font-size: 2rem;
                            margin-top: 1rem;
                        }
                        p{
                            font-size: 1.4rem !important;
                            max-width: 23.8rem;
                            margin: 0 auto;
                        }
                    }
                    figure{
                        margin-right: 0 !important;
                    }
                }
            }
            button{
                margin-top: 4rem;
            }
        }
        .conta-digital-image{
            figure{
                img{
                    padding-left: 6.5rem;
                }
            }
        }
    }
    @include responsive(480px){
        .conta-digital-image{
            height: 32.3rem !important;
            figure{
                img{
                    
                    height: 32.3rem;
                }
                .mockup-1{
                    left: 100px !important ;
                }
                .circle-conta-digital{
                    top: 100px;
                    left: initial;
                    
                }
                .card-conta-digital{
                    top: 90px !important;
                }
            }
            
        }
    }
    
}

