.s-principal{
    width: 100%;
    height: 78.6rem;
    background: url(../imgs/bg-hero.svg) no-repeat center center;
    padding-top: 17.5rem;
    .container{
        @include flex(flex-start,space-between,row);
        .bloco-titulo{
            max-width: 68.3rem;
            .titulo{
                h3{
                    color: #FFFFFF;
                    opacity: .8;
                    margin-bottom: 3.2rem;
                    font-weight: 600;
                    line-height: 120%;
                }
                h1{
                    color: #FFFFFF;
                    margin-bottom: 3.9rem;
                }
            }

            button{
                margin-bottom: 6.4rem;
            }

            ul{
                display: flex;
                justify-content:space-between;
                max-width: 62.1rem;
                
                li{
                    display: flex;
                    align-items:center;
                    .icon{
                        @include flex(center,center,row);
                        background-color:rgba(53, 202, 226, 0.4);
                        border-radius: 50%;
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                    span{
                        max-width: 12.7rem;
                        font-size: 18px;
                        line-height: 22px;
                        color: #FFFFFF;
                        margin-left: 1.2rem;
                    }
                }
            }

        }
        .bloco-imagem{
            width: 100%;
            max-width: 70.6rem;
            margin-right: -17.3rem;
            h2{
                text-align: center;
                margin-bottom: 6.7rem;
                font-weight: 600;
                font-size: 56px;
                line-height: 84px;
                letter-spacing: -2px;
                color: #FFFFFF;
                opacity: 0.4;
            }
            .imagem{
                position: relative;
                width: 100%;
                height: 54.2rem;
                img{
                    position: absolute;
                }
                .circle{
                    right: 43px;
                }
                .back{
                    bottom: 46px;
                    right: 86px;
                }
                .front{
                    top: 41px;
                }
            }
        }
    }
}

.s-app{
    .container{
        display: flex;
        .app{
            @include flex(start, center, column);
            max-width: 27.7rem;
            .phone-card{
                position: relative;
                width: 100%;
                
                margin-top: 13rem;
                .circle-mockup{
                    position: absolute;
                    top: 8.7rem;
                    left: -21.4rem;
                    max-width: 37.7rem;
                    z-index: -1;
                }
                
            }
            .download{
                @include flex(center, center, column);
                width: 100%;
                margin-top: 2.5rem;
                .download-icon{
                    margin-bottom: 3.1rem;
                    margin-top: 10rem;
                    position: relative;
                    &::before{
                        content: "";
                        background: url(../imgs/points.svg) no-repeat center center;
                        width: 5px;
                        height: 8.3rem;
                        position: absolute;
                        top: -104px;
                        left: 50%;
                        margin-left: -2.5px;
                    }
                }
                .download-info{
                    @include flex(center,center,column);
                    h3{
                        color: $grey-600;

                    }
                    p{
                        text-align: center;
                        color: $grey-400;
                        line-height: 150%;
                        margin-bottom: 2.6rem;
                        opacity: 0.8;
                    }
                    ul{
                        li{
                            &:not(:first-child){
                                margin-top: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
        .app-info{
            margin-left: 14rem;
            margin-top: 16rem;
            .beneficios{
                h2{
                    max-width: 48.8rem;
                }
                a{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    color: $brand-blue;
                    
                }
                ul{
                    margin-bottom: 3.2rem;
                    .card-beneficios{
                        @include flex(center, flex-start,row);
                        width: 100%;
                        max-width: 83.4rem;
                        padding-bottom: 2.9rem;
                        padding-top: 3.8rem;
                        border-bottom: 1px solid $grey-100;
                        .flex-card{
                            @include flex(center,space-between,row);
                            article{
                                width: 63rem;
                                margin-left: 4.3rem;
                                margin-right: 9.6rem;
                                
                                
                                h3{
                                    color: $grey-400;
                                }
                                p{
                                    font-size: 1.8rem;
                                    line-height: 150%;
                                    color: $grey-300;
                                }
                            }
                            button{
                                display: flex;
        
                            }
                        }
                    }
                }
                a{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        right: -18px;
                        bottom: 0;
                        width: 1rem;
                        height: .3rem;
                        background-color: $brand-yellow;
                    }
                }
            }
            .pejota{
                margin-top: 14.4rem;
                width: 100%;
                max-width: 80rem;
                height: 41rem;
                background: url(../imgs/bg-box-card-neon.svg) no-repeat center center;
                @include flex(center,flex-start,row);
                position: relative;
                .pj-text{
                    padding-left: 6rem;
                    h2,h3,p{
                        color: #FFFFFF;
                        max-width: 32.7rem;
                    }
                    h2{
                        padding-bottom: 1.1rem;
                    }
                    h3,p{
                        padding-bottom: .8rem;
                    }
                    ul{
                        display: flex;
                        li{
                            &:not(:first-child){
                                padding-left: 1.6rem;
                            }
                        }
                    }
                }
                img{
                    width: 34.2rem;
                    height: 21.9rem;
                    position: absolute;
                    right: -31px;
                }
            }
        }
    }
}

.s-social{
    .titulo-depoimentos{
        margin-top: 13.4rem;
        margin-bottom: 4rem;
        .h2-grey200{
            color: $grey-200;
            margin-bottom: 1.4rem;
        }
        .h2-grey600{
            color: $grey-600;
        }

    }
    .social-cards{
        @include flex(center, space-between,row);
    }
}

.s-conta-digital{
    .container{
        @include flex(flex-start,flex-start,column);
        .conta-digital-info{
            margin-top: 13.4rem;
            width: 100%;
            max-width: 54.2rem;
            .conta-digital-titulo{
                .h2-grey200{
                    color: $grey-200;
                    font-weight: 600;
                }
                .h2-grey600{
                    color: $grey-600;
                    margin-top: .9rem;
                }
            }
            ul{
                margin-top: 4.5rem;
                li{
                    display: flex;
                    &:not(:last-child){
                        margin-bottom: 4.5rem;
                    }
                    figure{
                        width: 4.5rem;
                        height: 4.5rem;
                        background-color: $brand-green-light;
                        border-radius: 8px;
                        @include flex(center,center,row);
                        margin-right: 2.6rem;
                    }
                    article{
                        h4{
                            margin-bottom: .4rem;
                            color: $grey-400;
                        }
                        p{
                            font-size: 1.8rem;
                            color: $grey-300;
                        }
                    }
                }
            }
            button{
                margin-top: 6rem;
            }
        }
        
    }
}